service: strava-report-card

provider:
  name: aws
  runtime: nodejs20.x
  stage: dev
  region: eu-west-2
  timeout: 120
  websocketsApiName: strava-report-card-ws
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: "arn:aws:s3:::run-report.com/*"

functions:
  connectHandler:
    handler: src/sockets.connectHandler
    events:
      - websocket:
          route: $connect
  disconnectHandler:
    handler: src/sockets.disconnectHandler
    events:
      - websocket:
          route: $disconnect
  msgHandler:
    handler: src/sockets.msgHandler
    environment: ${file(serverless.env.yml)}
    events:
      - websocket:
          route: $default

custom:
  assets:
    verbose: true
    targets:
      - bucket: run-report.com
        acl: public-read
        files:
        - source: static/
          globs: '*.*'

plugins:
  - serverless-offline
  - serverless-s3-deploy
